# Prerequisites
*.d

# Compiled Object files
*.ixx.ifc.d.json
*.ixx.ifc
*.ixx.ifc.dt
*.ixx.ifc.dt.command
*.ixx.ifc.dt.d.json
*.ixx.ifc.dt.md.json
*.ixx.ifc.dt.md.json.command
*.ixx.module.json
*.ixx.obj
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs
Release
Debug